@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  height: 100%;
}

a{
  text-decoration: none;
}

.search-bar{
  width: 90%;
}

textarea{
   resize: none;
}

.selected-bottom-nav i,
.selected-bottom-nav div{
  color: #000 !important;
  font-weight: 400;
}

@media (min-width: 600px) {
  .search-bar{
    width: 40%;
  }
}
